body{
    background-color:f1faee;
    font-size:125px;
    font-family:Papyrus,fantasy;
    margin-left:5%;
}

h1{
    font-size:125px;
    margin-top:10%;
}

.container{
    width: 700px;
}

.row{
    margin-bottom:5%;
}

#output{
    color:e63946;
    margin-left:50%;
    text-align:center;
}